<div ng-init="initSignature();">
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2><small>Contract</small></h2>
		</div>
		<div class="jumbotron">
			<div class="container ">
				<div  class="text-left contract-page">
					<h4 class="text-center">கூட்டு வியாபார ஒப்பந்தம் </h4>

					<div style="width: 285px; font-weight: bold; margin:50px auto;">
						1. K.பரந்தாமன் s/o கொளஞ்சி <br>
						2. R.ஹரிநாத் s/o ரெங்கசாமி <br>
						3. A.கௌசல்யா w/o அறிவழகன் <br>
						4. M.ஈஸ்வரி w/o முத்துகருப்பன் <br>
						5. C.தேவன் s/o சின்னசாமி <br>
					</div>

					<p>மேற்கண்ட நபர்கள் இணைந்து காளான் தொழில் தொடங்குவது 
						தொடர்பான கூட்டு ஒப்பந்தம். 1ம்(K.பரந்தாமன்)  மற்றும் 2ம்(R.ஹரிநாத்) நபர்களின் 
						முன் அனுபவம் கொண்டு 3,4,5ம் (A.கௌசல்யா, M.ஈஸ்வரி, C.தேவன்) 
						நபரோடு தொழில் தொடங்கப்படுகிறது. </p>
					<p>2ம் (R.ஹரிநாத்)
						இலக்க நபர் 70,000/- ரூபாய் மற்ற மூவர் 3,4,5ம் (A.கௌசல்யா, M.ஈஸ்வரி, C.தேவன்)
						நபர்கள் முறையே 1,00,000/- ரூபாய் மொத்தமாக 3,70,000/- 
						ரூபாய் கொண்டு தொழில் தொடங்கப்படுகிறது. 
						1ம் நபர் காளான் உற்பத்தி, பராமரிப்பு மற்றும் சந்தை 
						படுத்துதல் பொறுப்பு ஏற்பதாக முடிவு செய்யப்படுகிறது. </p>

					<p>கூட்டு தொழிலில் எடுக்கப்படும் எந்த ஒரு முடிவும் மேற்கண்ட 5ந்து நபர்களின் சம்மதம் கொண்டே செயல் பட வேண்டும். எந்த ஒரு லாப நஷ்டமும் ஐவருக்கும் பொதுவானது.</p>
						
					<p>தொழில் தொடங்கி முதல் 6 மதத்திற்கு வருமானம் நிலுவையில் வைப்பதாக முடிவு எடுக்கப்படுகிறது. அதன் பின் ஒவ்வொரு 3 மதத்திற்கு வருமான பங்கீடு செய்யப்படும்.</p>


					<h4 style="font-weight: normal;text-align: center;">பங்கு விபரம் கீழ்வருமாறு :</h4>

					<table>
						<tr>
							<td>1. </td>
							<td>K.பரந்தாமன்</td>
							<td>18%</td>
						</tr>
						<tr>
							<td>2</td>
							<td>R.ஹரிநாத்</td>
							<td>18%</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>A.கௌசல்யா</td>
							<td>18%</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>M.ஈஸ்வரி</td>
							<td>18%</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>C.தேவன்</td>
							<td>18%</td>
						</tr>
						<tr>
							<td>6.</td>
							<td>தொழில் வளர்ச்சி நிதி</td>
							<td>10%</td>
						</tr>
					</table>

	

					<p>வளர்ச்சி நிதியில் ஐவருக்கும் சமபங்கு உண்டு. தொழில் செலவீனங்கள் போக இருக்கும் தொகையில் ஒரு பகுதி வைத்து பங்கீடு செய்து கொள்வதாக முடிவெடுக்கப்படுகிறது .</p>

					<p>காளான் உற்பத்தி, சந்தைப்படுத்தல், செலவு என அனைத்தும் பொதுவாக தகவல் அறியப்படும் ஒரு தளம் அமைத்து கண்காணிக்கலாம் என்று முடிவு எடுக்கப்படுகிறது.</p>

					<p>தொழிலில் புதியதாக பங்குதாரர் சேர்ப்பதில்லை என்று முடிவு எடுக்கப்படுகிறது.</p>

					<br><br><br><br>
					<div style="overflow: auto;">
						<table>
							<tr>
								<td>K.பரந்தாமன்
									<div class="canvas">
										<img ng-if="signature['-MUvyYuxcUsRQD0vMzlx']" ng-src="{{signature['-MUvyYuxcUsRQD0vMzlx']}}">
										<div ng-if="!signature[user.id] && user.id === '-MUvyYuxcUsRQD0vMzlx'">
											<canvas></canvas><br>
											<button class="btn btn-secondary" ng-click="clearSign()">Clear</button>
											<button class="btn btn-primary" ng-click="saveSign()">Save</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>R.ஹரிநாத்
									<div class="canvas">
										<img ng-if="signature['-MUw-Y5nkcGbgiONu4Rj']" ng-src="{{signature['-MUw-Y5nkcGbgiONu4Rj']}}">
										<div ng-if="!signature[user.id] && user.id === '-MUw-Y5nkcGbgiONu4Rj'">
											<canvas></canvas><br>
											<button class="btn btn-secondary" ng-click="clearSign()">Clear</button>
											<button class="btn btn-primary" ng-click="saveSign()">Save</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>A.கௌசல்யா
									<div class="canvas">
										<img ng-if="signature['-MUw-5wGTo5llZ_E_8yB']" ng-src="{{signature['-MUw-5wGTo5llZ_E_8yB']}}">
										<div ng-if="!signature[user.id] && user.id === '-MUw-5wGTo5llZ_E_8yB'">
											<canvas></canvas><br>
											<button class="btn btn-secondary" ng-click="clearSign()">Clear</button>
											<button class="btn btn-primary" ng-click="saveSign()">Save</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>M.ஈஸ்வரி
									<div class="canvas">
										<img ng-if="signature['-MUw-F0hYKjGMInP0OKA']" ng-src="{{signature['-MUw-F0hYKjGMInP0OKA']}}">
										<div ng-if="!signature[user.id] && user.id === '-MUw-F0hYKjGMInP0OKA'">
											<canvas></canvas><br>
											<button class="btn btn-secondary" ng-click="clearSign()">Clear</button>
											<button class="btn btn-primary" ng-click="saveSign()">Save</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>C.தேவன்
									<div class="canvas">
										<img ng-if="signature['-MUw-RxmVGlge8UP3pGT']" ng-src="{{signature['-MUw-RxmVGlge8UP3pGT']}}">
										<div ng-if="!signature[user.id] && user.id === '-MUw-RxmVGlge8UP3pGT'">
											<canvas></canvas><br>
											<button class="btn btn-secondary" ng-click="clearSign()">Clear</button>
											<button class="btn btn-primary" ng-click="saveSign()">Save</button>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</snap-content>	
</div>
